#div1{background:green;width:200px;height:200px;margin:0 auto;}
#div2{background:orange;width:200px;height:200px;margin:10px auto;}
#div3{background:rosybrown;width:200px;height:200px;margin:10px auto;}