#div1{background:#20A4BC;width:100px;height:200px;margin:0 auto;}
#div2{background:#9c9c9c;width:100px;height:200px;margin:10px auto;}
#div3{background:#8B4512;width:100px;height:200px;margin:10px auto;}